body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.fiexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.fiexible-container p {
    font-size: 30px;
    font-weight: 300;
}

.link-button {
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(blue, teal);
    padding: 20px 50px;
    border-radius: 8px;
    border: 10px;
    margin: 10px 10px;
    font-size: 40px;

}

.middle-part {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;

}

.middle-part p {
    font-size: 30px;
    font-weight: 300;

}

.food-part {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 60px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}

.selfdevelop p {
    font-size: 30px;
    font-weight: 300;
    margin: 10px 10px;
    padding: 2%;
    text-align: center;
}

.selfdevelop h1 {
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.fiexible-container-list {
    display: flex;
    /* margin-bottom: 100px; */
    width: 50%;
    font-size: 100px;
    padding: 5px 10px;
}



.fiex-container {
    display: flex;
    background-color: rgb(234, 231, 231);
    justify-content: center;
    margin: 40px 50px;
    padding: 40px 40px;
    gap: 330px 870px;
    box-shadow: 10px 10px 40px gray;

}

.fiex-container>div {
    margin: 3px;
    padding: 2px;
    width: 100px;


}

.fiex-container h2 {
    color: rgb(80, 11, 11);
    font-size: 100px;
    font-weight: 800;
}

.fiex-container p {
    font-size: 40px;
    margin: 0;
}

#foot {
    background-color: rgb(12, 12, 18);
    height: 500px;
    width: 100%;
}

.Gray-color {
    color: gray;
    font-family: Sans-serif;
}

#foot p {
    color: aliceblue;
    font-size: 34px;
    font-weight: 100;
    text-align: center;
}

#foot h1 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 300px;
}