body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 90px;
}

.orange-color {
    color: orange;
}

.fiexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}


.link-button {
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(blue, teal);
    padding: 20px 50px;
    border-radius: 8px;
    border: 10px;
    margin: 10px 10px;

}